@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<main class="container">
    <div>
        <div class="department">

            <div class="post multiple-images">
                <h3>Impacto de la globalización en la economía mundial</h3>
                <span class="date">03-05-2024</span>
                <p>Para agregar un input dentro de una etiqueta <a> que sirva para regresar y que esté ubicado en la parte superior del HTML, puedes utilizar un formulario con un input de tipo "submit" dentro de la etiqueta <a>. Aquí tienes el código actualizado:</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlw3k3wU_LicRrrqTRPHQ9aDG1nU66WUvoeQ&usqp=CAU" alt="Evidencia en fotografía">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdI5h6LZxis-xvMA-mioIFBUdBqrofceIn1A&usqp=CAU" alt="Evidencia en fotografía">
                <div class="button-container2">
                    <a href="#"><img id="img" src="https://cdn-icons-png.flaticon.com/512/1043/1043838.png" /></a>

                    <a href="#"> <img id="img" src="https://cdn-icons-png.flaticon.com/512/216/216923.png" /></a>
                </div>
            </div>
        </div>

    </div>
</main>