@model RegistroActividadesE9.Models.ViewModels.DepartamentosViewModel
@{
    Layout = "~/Views/Shared/LayoutDepartamento.cshtml";
}

<main class="eliminar">
    <input type="hidden" asp-for="id" />
    <div class="confirmation-box">
        <h2>¿Desea eliminar el siguiente departamento?<br /> <span>@Model.nombre</span></h2>
        <div class="button-container">
            <a> <input type="submit" class="accept-button" value="Confirmar"></a>
            <a href="~/Admin/Home"><input type="button" value="Cancelar" class="cancel-button"></a>
        </div>
    </div>
</main>