@model IEnumerable<RegistroActividadesE9.Models.ViewModels.DepartamentosViewModel>

@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<main>

    <ul class="department-list" id="departmentList">

        @foreach (var item in Model)
        {
            <li class="department-item">
                <span>@item.nombre</span>
                <div class="button-container2">
                    <a href="~/Admin/Home/Editar/{@item.id}"><img id="img" src="https://cdn-icons-png.flaticon.com/512/1043/1043838.png" /></a>

                    <a href="~/Admin/Home/Eliminar/{@item.id}"> <img id="img" src="https://cdn-icons-png.flaticon.com/512/216/216923.png" /></a>
                </div>
            </li>
        }
      
    </ul>


    <a class="floating-button" href="~/Admin/Home/Agregar">
        <img id="img3" src="https://cdn-icons-png.flaticon.com/512/2740/2740600.png" />
    </a>
</main>