<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/style2.css" rel="stylesheet" />
    <title>Publicaciones por Departamento</title>

</head>
<body>

    <header>
        <div class="header-content">
            <a id="title" href="#"><h1>Registro de Actividades</h1></a>
            <a id="Nombre" href="~/Usuario/Home/VerMisPublicaciones"><h2>Nombre del Departamento</h2></a>
        </div>

        <div class="logout">
            <a href="Login.html">Cerrar sesión</a>
        </div>
    </header>

    @RenderBody()
</body>
</html>
