<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/styleAdmin.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Departamentos</title>

</head>
<body class="principal">
    <header>
        <div>
            <h1 class="Titulo">Departamentos Registrados</h1>

        </div>
        <div class="logout">
            <h3>Administrador</h3>
            <a href="Login.html">Cerrar sesión</a>
        </div>
    </header>

    @RenderBody()
</body>
</html>
