@model RegistroActividadesE9.Models.ViewModels.AgregarActividadViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<main class="aggPub">
    <div class="container3">
        <h2>Agregar Actividad</h2>
        <form action="~/Usuario/Home/Agregar" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="titulo">Título de la Actividad:</label>
                <input type="text" id="titulo" asp-for="titulo" name="titulo" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" asp-for="descripcion" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="departamento">Departamento Asociado:</label>
                <input type="text" id="idDepartamento" asp-for="departamento" name="idDepartamento" required>
               @*  <select id="departamento" name="departamento" required>
                    <option value="">Seleccione un departamento</option>
                    <option value="departamento1">Departamento 1</option>
                    <option value="departamento2">Departamento 2</option>
                    <option value="departamento3">Departamento 3</option>
                </select> *@
            </div>
            <div class="form-group">
                <label for="imagenes">Seleccionar Imágenes:</label>
                <input type="file" id="imagenes" name="imagenes[]" accept="image/*" multiple>
            </div>
            <div class="form-group button-group">
                <p id="error">@Html.ValidationSummary(true)</p>

                <a> <input type="submit" class="accept-button" value="Publicar"></a>

                <a href="~/Usuario/Home">
                    <input type="button" class="cancel-button" value="Cancelar">
                </a>
            </div>
        </form>
    </div>
</main>