@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<main class="principal">

    <div class="container">
        <div class="department">
            <div class="department-name">Departamento de Tecnología</div>
            <div class="post multiple-images">
                <h3>Últimas tendencias en inteligencia artificial</h3>
                <span class="date">01-05-2024</span>
                <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbCwtCvnKb4dlZEOWsLg9iwnjHIeTRSMrWfQ&usqp=CAU" alt="Evidencia en fotografía">
            </div>
            <div class="post multiple-images">
                <h3>Nuevas herramientas de desarrollo web</h3>
                <span class="date">Fecha de realización: 2024-04-25</span>
                <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdI5h6LZxis-xvMA-mioIFBUdBqrofceIn1A&usqp=CAU" alt="Evidencia en fotografía">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaAycHruKZaIUk9wA5baKNnQr9IMcQNIhtRA&usqp=CAU" alt="Evidencia en fotografía">
            </div>
        </div>

        <div class="department">
            <div class="department-name">Departamento de Ciencias Sociales</div>
            <div class="post multiple-images">
                <h3>Impacto de la globalización en la economía mundial</h3>
                <span class="date">03-05-2024</span>
                <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlw3k3wU_LicRrrqTRPHQ9aDG1nU66WUvoeQ&usqp=CAU" alt="Evidencia en fotografía">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdI5h6LZxis-xvMA-mioIFBUdBqrofceIn1A&usqp=CAU" alt="Evidencia en fotografía">
            </div>
            <div class="post multiple-images">
                <h3>El papel de la mujer en la sociedad contemporánea</h3>
                <span class="date">24-01-2024</span>
                <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaAycHruKZaIUk9wA5baKNnQr9IMcQNIhtRA&usqp=CAU" alt="Evidencia en fotografía">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS0AHvXQ_M99PnWX-Wy_zuOh9AKQLtgyZ9vQ&usqp=CAU" alt="Evidencia en fotografía">
            </div>
        </div>

    </div>

    <a class="floating-button" href="~/Usuario/Home/Agregar">
        <img id="img3" src="https://cdn-icons-png.flaticon.com/512/2740/2740600.png" />
    </a>

</main>