.principal body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;  
}
  header {
  background-color: #154360;
  color: #B1D0E0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-content #title{
  text-decoration: none;
  color: #B1D0E0;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.department {
  margin-bottom: 20px;
}

.department-name {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.post {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.post h3{
  color:#1A374D;
  margin-top: 0;
}

.post p {
  margin-bottom: 10px;
  color: #333;
}

.post img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.multiple-images .post img {
  width: 30%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
}
.button-container2 {
  position: absolute;
  top: 8px;
  right: 10px;
}
.button-container2 button {
  margin-left: 5px;
}
.button-container2 #img{
  width: 35px;
}
.date {
  font-size: 14px;
  color: #999;
  font-style: italic;
  margin-top: 5px;
}

.logout {
  text-align: right;
}
#Nombre {
  margin-top: -85px;
  margin-left: 1010px; 
  color: #B1D0E0;
  padding: 10px 10px;
  text-align: right;
  font-size: 15px;
}

.logout a {
  color: #fff;
  text-decoration: none;
  background-color: #406882;
  padding: 5px 10px;
  border-radius: 3px;
}

  
/* Separador entre departamentos */
.department:not(:last-child) {
  border-bottom: 4px solid #B1D0E0;
  padding-bottom: 20px;
}

/* Estilos para el botón flotante */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #365486;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 999;
}

.floating-button:hover {
  background-color: #154360;
}

.floating-button input[type="button"] {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
}



/*Login*/
.login html {
  height: 100%;
}

.login body {
  background-color:#B1D0E0;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #1A374D;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #6998AB;
        text-align: center;
    }
    .login-box .message {
        color: red;
        font-size: 14px;
        margin-top: 15px;
    }


    .login-box .user-box {
        position: relative;
    }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
        }

    .login-box form a {
        position: relative;
        display: inline-block;
        padding: 30px 20px;
        color: #1A374D;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 10px;
        letter-spacing: 14px;
    }

    .login-box .rounded-button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        width: 100%;
        border: 1px solid white;
        padding: 15px;
        color: #324b81;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .login-box button:hover,
    .login button:active,
    .login-box button:focus {
        background: #6998AB;
    }
.login .message {
    color: red;
    font-size: 14px;
    margin-top: 15px;
}



/* Estilos para el botón redondeado y centrado */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -25px;
}

.rounded-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: #6998AB;
  color: white;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  text-align: center;
}

.rounded-button:hover {
  background-color: #B1D0E0;
}

.message {
  color: red;
  font-size: 14px;
  margin-top: 15px;
}

/*Agregar Publicacion*/
.aggPub  {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 100px;
  padding: 20px;
}
.aggPub  .container3 {
  background-color:  #AED6F1;;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container3 h2{
  text-align: center;
}
.aggPub  .form-group {
  margin-bottom: 15px;
}
.aggPub  .form-group label {
  display: block;
  margin-bottom: 5px;
}
.aggPub  .form-group input, .form-group select, .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.aggPub .button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.aggPub  .button-group a {
  text-decoration: none;
}
.aggPub .button-group input {
  background-color: #324b81;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}
.aggPub .button-group input.cancel-button {
  background-color: #dc3545;
}
.aggPub .button-group input:hover {
  opacity: 0.9;
}

/*Eliminar publicacion, departamento*/

.eliminar   {
  font-family: Arial, sans-serif;
  background-color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}
.eliminar  .confirmation-box {
  background: #AED6F1; 
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  color: #B1D0E0;
}
.eliminar  .confirmation-box h2 {
  margin: 0 0 50px;
  color: #324b81; 
}
.eliminar  .button-container {
  display: flex;
  justify-content: center;
  gap:10px;
}
.eliminar  .button-container a {
  text-decoration: none;
}
.eliminar  .button-container input {
  padding: 10px 60px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.eliminar  .accept-button {

  background-color: #324b81; 
  color: #fff; 
}

.eliminar   .accept-button:hover {
  background-color: #6998AB; 
}
.eliminar   .cancel-button {
  background-color: #f44336; 
  color: #fff; 
}
.eliminar   .cancel-button:hover {
  background-color: #da190b; 
}


.floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #365486;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 999;
}

.floating:hover {
  background-color: #154360;
}

.floating input[type="button"] {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
}

#img2{
  margin-top: 10px ;
  width: 35px;
  height: 35px;
}
#img3{
  width: 80px;
  height: 80px;
}





.historial {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}
.historial .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1400px;
  gap: 86px;
  height: 93vh; /* Ensure both lists have the same height */
}
.historial .list-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 75%;
}
.historial .list-container h2 {
  color: #333;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.historial ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  flex: 1;
  overflow-y: auto; /* Add vertical scroll if the content exceeds the height */
}
.historial li {
  background-color: #fafafa;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  position: relative;
}
.historial li:hover {
  background-color: #f0f0f0;
}
.historial .restore-button {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.historial .context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
}
.historial .context-menu button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.historial  .context-menu button:hover {
  background-color: #f0f0f0;
}
.historial #eliminado{
  color: red;
}
.historial #activas{
  color: #154360;
}